# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/MRTutorial.Client/bin/Debug/MRTutorial.Client.exe.config
/MRTutorial.Client/bin/Debug/MRTutorial.Client.vshost.exe.config
/MRTutorial.Client/bin/Debug/MRTutorial.Client.vshost.exe.manifest
/MRTutorial.Client/bin/Debug/Newtonsoft.Json.xml
/MRTutorial.Client/bin/Debug/normidna.nlp
/MRTutorial.Client/bin/Debug/normnfc.nlp
/MRTutorial.Client/bin/Debug/normnfd.nlp
/MRTutorial.Client/bin/Debug/normnfkc.nlp
/MRTutorial.Client/bin/Debug/normnfkd.nlp
/MRTutorial.Client/obj/Debug/MRTutorial.Client.csproj.FileListAbsolute.txt
/MRTutorial.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MRTutorial.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MRTutorial.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MRTutorial.IdentityClient/bin/MRTutorial.IdentityClient.dll.config
/MRTutorial.IdentityClient/bin/Newtonsoft.Json.xml
/MRTutorial.IdentityClient/bin/System.Net.Http.Formatting.xml
/MRTutorial.IdentityClient/bin/System.Web.Http.WebHost.xml
/MRTutorial.IdentityClient/bin/System.Web.Http.xml
/MRTutorial.IdentityClient/bin/normidna.nlp
/MRTutorial.IdentityClient/bin/normnfc.nlp
/MRTutorial.IdentityClient/bin/normnfd.nlp
/MRTutorial.IdentityClient/bin/normnfkc.nlp
/MRTutorial.IdentityClient/bin/normnfkd.nlp
/MRTutorial.IdentityClient/obj/Debug/MRTutorial.IdentityClient.csproj.FileListAbsolute.txt
/MRTutorial.IdentityClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MRTutorial.IdentityClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MRTutorial.IdentityClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MRTutorial.IdentityServer/bin/AutoMapper.xml
/MRTutorial.IdentityServer/bin/EntityFramework.SqlServer.xml
/MRTutorial.IdentityServer/bin/EntityFramework.xml
/MRTutorial.IdentityServer/bin/MRTutorial.IdentityServer.dll.config
/MRTutorial.IdentityServer/bin/Microsoft.IdentityModel.Protocol.Extensions.xml
/MRTutorial.IdentityServer/bin/Microsoft.Owin.Host.SystemWeb.xml
/MRTutorial.IdentityServer/bin/Microsoft.Owin.Security.Cookies.xml
/MRTutorial.IdentityServer/bin/Microsoft.Owin.Security.OpenIdConnect.xml
/MRTutorial.IdentityServer/bin/Microsoft.Owin.Security.xml
/MRTutorial.IdentityServer/bin/Microsoft.Owin.xml
/MRTutorial.IdentityServer/bin/Newtonsoft.Json.xml
/MRTutorial.IdentityServer/bin/System.IdentityModel.Tokens.Jwt.xml
/MRTutorial.IdentityServer/bin/System.Net.Http.Formatting.xml
/MRTutorial.IdentityServer/bin/System.Web.Helpers.xml
/MRTutorial.IdentityServer/bin/System.Web.Http.WebHost.xml
/MRTutorial.IdentityServer/bin/System.Web.Http.xml
/MRTutorial.IdentityServer/bin/System.Web.Mvc.xml
/MRTutorial.IdentityServer/bin/System.Web.Razor.xml
/MRTutorial.IdentityServer/bin/System.Web.WebPages.Deployment.xml
/MRTutorial.IdentityServer/bin/System.Web.WebPages.Razor.xml
/MRTutorial.IdentityServer/bin/System.Web.WebPages.xml
/MRTutorial.IdentityServer/bin/Thinktecture.IdentityServer3.xml
/MRTutorial.IdentityServer/bin/idsrv3test.pfx
/MRTutorial.IdentityServer/bin/normidna.nlp
/MRTutorial.IdentityServer/bin/normnfc.nlp
/MRTutorial.IdentityServer/bin/normnfd.nlp
/MRTutorial.IdentityServer/bin/normnfkc.nlp
/MRTutorial.IdentityServer/bin/normnfkd.nlp
/MRTutorial.IdentityServer/obj/Debug/MRTutorial.IdentityServer.csproj.FileListAbsolute.txt
/MRTutorial.IdentityServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MRTutorial.IdentityServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MRTutorial.IdentityServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MRTutorial.Membership.Tests/bin/Debug/EntityFramework.SqlServer.xml
/MRTutorial.Membership.Tests/bin/Debug/EntityFramework.xml
/MRTutorial.Membership.Tests/bin/Debug/MRTutorial.Membership.Tests.dll.config
/MRTutorial.Membership.Tests/bin/Debug/normidna.nlp
/MRTutorial.Membership.Tests/bin/Debug/normnfc.nlp
/MRTutorial.Membership.Tests/bin/Debug/normnfd.nlp
/MRTutorial.Membership.Tests/bin/Debug/normnfkc.nlp
/MRTutorial.Membership.Tests/bin/Debug/normnfkd.nlp
/MRTutorial.Membership.Tests/obj/Debug/MRTutorial.Membership.Tests.csproj.FileListAbsolute.txt
/MRTutorial.Membership.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MRTutorial.Membership.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MRTutorial.Membership.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MRTutorial.Membership/bin/Debug/EntityFramework.SqlServer.xml
/MRTutorial.Membership/bin/Debug/EntityFramework.xml
/MRTutorial.Membership/bin/Debug/MRTutorial.Membership.dll.config
/MRTutorial.Membership/bin/Debug/normidna.nlp
/MRTutorial.Membership/bin/Debug/normnfc.nlp
/MRTutorial.Membership/bin/Debug/normnfd.nlp
/MRTutorial.Membership/bin/Debug/normnfkc.nlp
/MRTutorial.Membership/bin/Debug/normnfkd.nlp
/MRTutorial.Membership/obj/Debug/MRTutorial.Membership.csproj.FileListAbsolute.txt
/MRTutorial.Membership/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MRTutorial.Membership/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MRTutorial.Membership/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MRTutorial.ProtectedApi/bin/MRTutorial.ProtectedApi.dll.config
/MRTutorial.ProtectedApi/bin/Microsoft.IdentityModel.Protocol.Extensions.xml
/MRTutorial.ProtectedApi/bin/Microsoft.Owin.Host.SystemWeb.xml
/MRTutorial.ProtectedApi/bin/Microsoft.Owin.Security.Jwt.xml
/MRTutorial.ProtectedApi/bin/Microsoft.Owin.Security.OAuth.xml
/MRTutorial.ProtectedApi/bin/Microsoft.Owin.Security.xml
/MRTutorial.ProtectedApi/bin/Microsoft.Owin.xml
/MRTutorial.ProtectedApi/bin/Newtonsoft.Json.xml
/MRTutorial.ProtectedApi/bin/System.IdentityModel.Tokens.Jwt.xml
/MRTutorial.ProtectedApi/bin/System.Net.Http.Formatting.xml
/MRTutorial.ProtectedApi/bin/System.Web.Helpers.xml
/MRTutorial.ProtectedApi/bin/System.Web.Http.Owin.xml
/MRTutorial.ProtectedApi/bin/System.Web.Http.WebHost.xml
/MRTutorial.ProtectedApi/bin/System.Web.Http.xml
/MRTutorial.ProtectedApi/bin/System.Web.Mvc.xml
/MRTutorial.ProtectedApi/bin/System.Web.Optimization.xml
/MRTutorial.ProtectedApi/bin/System.Web.Razor.xml
/MRTutorial.ProtectedApi/bin/System.Web.WebPages.Deployment.xml
/MRTutorial.ProtectedApi/bin/System.Web.WebPages.Razor.xml
/MRTutorial.ProtectedApi/bin/System.Web.WebPages.xml
/MRTutorial.ProtectedApi/bin/Thinktecture.IdentityServer3.AccessTokenValidation.xml
/MRTutorial.ProtectedApi/bin/normidna.nlp
/MRTutorial.ProtectedApi/bin/normnfc.nlp
/MRTutorial.ProtectedApi/bin/normnfd.nlp
/MRTutorial.ProtectedApi/bin/normnfkc.nlp
/MRTutorial.ProtectedApi/bin/normnfkd.nlp
/MRTutorial.ProtectedApi/obj/Debug/MRTutorial.ProtectedApi.csproj.FileListAbsolute.txt
/MRTutorial.ProtectedApi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MRTutorial.ProtectedApi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MRTutorial.ProtectedApi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
/packages/AutoMapper.3.3.1/AutoMapper.3.3.1.nupkg
/packages/AutoMapper.3.3.1/lib/MonoAndroid/AutoMapper.xml
/packages/AutoMapper.3.3.1/lib/MonoTouch/AutoMapper.xml
/packages/AutoMapper.3.3.1/lib/net40/AutoMapper.xml
/packages/AutoMapper.3.3.1/lib/portable-windows8+net40+wp8+sl5+MonoAndroid+MonoTouch/AutoMapper.xml
/packages/AutoMapper.3.3.1/lib/portable-windows8+net40+wp8+wpa81+sl5+MonoAndroid+MonoTouch/AutoMapper.xml
/packages/AutoMapper.3.3.1/lib/sl5/AutoMapper.xml
/packages/AutoMapper.3.3.1/lib/windows8/AutoMapper.xml
/packages/AutoMapper.3.3.1/lib/wp8/AutoMapper.xml
/packages/AutoMapper.3.3.1/lib/wpa81/AutoMapper.xml
/packages/AutoMapper.3.3.1/tools/AutoMapper.targets
/packages/AutoMapper.3.3.1/tools/MonoAndroid/Install.ps1
/packages/AutoMapper.3.3.1/tools/MonoAndroid/uninstall.ps1
/packages/AutoMapper.3.3.1/tools/MonoTouch/Install.ps1
/packages/AutoMapper.3.3.1/tools/MonoTouch/uninstall.ps1
/packages/AutoMapper.3.3.1/tools/net40/Install.ps1
/packages/AutoMapper.3.3.1/tools/net40/uninstall.ps1
/packages/AutoMapper.3.3.1/tools/sl5/Install.ps1
/packages/AutoMapper.3.3.1/tools/sl5/uninstall.ps1
/packages/AutoMapper.3.3.1/tools/windows8/Install.ps1
/packages/AutoMapper.3.3.1/tools/windows8/uninstall.ps1
/packages/AutoMapper.3.3.1/tools/wp8/Install.ps1
/packages/AutoMapper.3.3.1/tools/wp8/uninstall.ps1
/packages/AutoMapper.3.3.1/tools/wpa81/Install.ps1
/packages/AutoMapper.3.3.1/tools/wpa81/uninstall.ps1
/packages/BrockAllen.MembershipReboot.8.3.0/BrockAllen.MembershipReboot.8.3.0.nupkg
/packages/BrockAllen.MembershipReboot.Ef.8.0.0/BrockAllen.MembershipReboot.Ef.8.0.0.nupkg
/packages/BrockAllen.MembershipReboot.Ef.8.0.0/Sql/v6_to_v7_migration.sql
/packages/BrockAllen.MembershipReboot.Ef.8.0.0/Sql/v7_schema.sql
/packages/BrockAllen.MembershipReboot.WebHost.7.1.0/BrockAllen.MembershipReboot.WebHost.7.1.0.nupkg
/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
/packages/EntityFramework.6.1.3/content/App.config.transform
/packages/EntityFramework.6.1.3/content/Web.config.transform
/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
/packages/EntityFramework.6.1.3/tools/init.ps1
/packages/EntityFramework.6.1.3/tools/install.ps1
/packages/Microsoft.AspNet.Mvc.5.2.2/Content/Web.config.install.xdt
/packages/Microsoft.AspNet.Mvc.5.2.2/Content/Web.config.uninstall.xdt
/packages/Microsoft.AspNet.Mvc.5.2.2/Microsoft.AspNet.Mvc.5.2.2.nupkg
/packages/Microsoft.AspNet.Mvc.5.2.2/lib/net45/System.Web.Mvc.xml
/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
/packages/Microsoft.AspNet.Mvc.5.2.3/Microsoft.AspNet.Mvc.5.2.3.nupkg
/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
/packages/Microsoft.AspNet.Razor.3.2.2/Microsoft.AspNet.Razor.3.2.2.nupkg
/packages/Microsoft.AspNet.Razor.3.2.2/lib/net45/System.Web.Razor.xml
/packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
/packages/Microsoft.AspNet.WebApi.5.2.2/Microsoft.AspNet.WebApi.5.2.2.nupkg
/packages/Microsoft.AspNet.WebApi.5.2.3/Microsoft.AspNet.WebApi.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/Microsoft.AspNet.WebApi.Client.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/Content/web.config.transform
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/Microsoft.AspNet.WebApi.Core.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.xml
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ApiDescriptionExtensions.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/App_Start/HelpPageConfig.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Controllers/HelpController.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/HelpPage.css.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/HelpPageAreaRegistration.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/HelpPageConfigurationExtensions.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/CollectionModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ComplexTypeModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/DictionaryModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/EnumTypeModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/EnumValueDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/IModelDocumentationProvider.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/KeyValuePairModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ModelDescriptionGenerator.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ModelNameAttribute.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ModelNameHelper.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ParameterAnnotation.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/ParameterDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/ModelDescriptions/SimpleTypeModelDescription.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Models/HelpPageApiModel.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleGenerator.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/HelpPageSampleKey.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/ImageSample.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/InvalidSample.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/ObjectGenerator.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/SampleDirection.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/SampleGeneration/TextSample.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/Api.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/CollectionModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ComplexTypeModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/DictionaryModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/EnumTypeModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/KeyValuePairModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/ModelDescriptionLink.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/SimpleTypeModelDescription.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/Index.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Help/ResourceModel.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Shared/_Layout.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/Web.config
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/Views/_ViewStart.cshtml.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Content/Areas/HelpPage/XmlDocumentationProvider.cs.pp
/packages/Microsoft.AspNet.WebApi.HelpPage.5.2.2/Microsoft.AspNet.WebApi.HelpPage.5.2.2.nupkg
/packages/Microsoft.AspNet.WebApi.Owin.5.2.3/Microsoft.AspNet.WebApi.Owin.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.Owin.5.2.3/lib/net45/System.Web.Http.Owin.xml
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.2/Microsoft.AspNet.WebApi.WebHost.5.2.2.nupkg
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.2/lib/net45/System.Web.Http.WebHost.xml
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/Microsoft.AspNet.WebApi.WebHost.5.2.3.nupkg
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.xml
/packages/Microsoft.AspNet.WebPages.3.2.2/Content/Web.config.install.xdt
/packages/Microsoft.AspNet.WebPages.3.2.2/Content/Web.config.uninstall.xdt
/packages/Microsoft.AspNet.WebPages.3.2.2/Microsoft.AspNet.WebPages.3.2.2.nupkg
/packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.Helpers.xml
/packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.Deployment.xml
/packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.Razor.xml
/packages/Microsoft.AspNet.WebPages.3.2.2/lib/net45/System.Web.WebPages.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
/packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
/packages/Microsoft.IdentityModel.Protocol.Extensions.1.0.2.205111437/Microsoft.IdentityModel.Protocol.Extensions.1.0.2.205111437.nupkg
/packages/Microsoft.IdentityModel.Protocol.Extensions.1.0.2.205111437/lib/net45/Microsoft.IdentityModel.Protocol.Extensions.XML
/packages/Microsoft.Owin.3.0.1/Microsoft.Owin.3.0.1.nupkg
/packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.XML
/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/Microsoft.Owin.Host.SystemWeb.3.0.1.nupkg
/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
/packages/Microsoft.Owin.Security.3.0.1/Microsoft.Owin.Security.3.0.1.nupkg
/packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.XML
/packages/Microsoft.Owin.Security.Cookies.3.0.1/Microsoft.Owin.Security.Cookies.3.0.1.nupkg
/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.xml
/packages/Microsoft.Owin.Security.Jwt.3.0.1/Microsoft.Owin.Security.Jwt.3.0.1.nupkg
/packages/Microsoft.Owin.Security.Jwt.3.0.1/lib/net45/Microsoft.Owin.Security.Jwt.xml
/packages/Microsoft.Owin.Security.OAuth.3.0.1/Microsoft.Owin.Security.OAuth.3.0.1.nupkg
/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.XML
/packages/Microsoft.Owin.Security.OpenIdConnect.3.0.1/Microsoft.Owin.Security.OpenIdConnect.3.0.1.nupkg
/packages/Microsoft.Owin.Security.OpenIdConnect.3.0.1/lib/net45/Microsoft.Owin.Security.OpenIdConnect.XML
/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
/packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
/packages/Modernizr.2.6.2/Tools/common.ps1
/packages/Modernizr.2.6.2/Tools/install.ps1
/packages/Modernizr.2.6.2/Tools/uninstall.ps1
/packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/tools/install.ps1
/packages/Newtonsoft.Json.6.0.8/Newtonsoft.Json.6.0.8.nupkg
/packages/Newtonsoft.Json.6.0.8/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.8/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.8/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.8/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.8/lib/netcore45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.8/tools/install.ps1
/packages/Owin.1.0/Owin.1.0.nupkg
/packages/Respond.1.2.0/Respond.1.2.0.nupkg
/packages/Respond.1.2.0/content/Scripts/respond.js
/packages/Respond.1.2.0/content/Scripts/respond.min.js
/packages/System.IdentityModel.Tokens.Jwt.4.0.2.205111437/System.IdentityModel.Tokens.Jwt.4.0.2.205111437.nupkg
/packages/System.IdentityModel.Tokens.Jwt.4.0.2.205111437/lib/net45/System.IdentityModel.Tokens.Jwt.Xml
/packages/Thinktecture.IdentityModel.Client.4.0.1/Thinktecture.IdentityModel.Client.4.0.1.nupkg
/packages/Thinktecture.IdentityModel.Core.1.4.0/Thinktecture.IdentityModel.Core.1.4.0.nupkg
/packages/Thinktecture.IdentityServer3.1.6.2/Thinktecture.IdentityServer3.1.6.2.nupkg
/packages/Thinktecture.IdentityServer3.1.6.2/lib/net45/Thinktecture.IdentityServer3.xml
/packages/Thinktecture.IdentityServer3.AccessTokenValidation.1.2.2/Thinktecture.IdentityServer3.AccessTokenValidation.1.2.2.nupkg
/packages/Thinktecture.IdentityServer3.AccessTokenValidation.1.2.2/lib/net45/Thinktecture.IdentityServer3.AccessTokenValidation.XML
/packages/Thinktecture.IdentityServer3.EntityFramework.1.2.1/Thinktecture.IdentityServer3.EntityFramework.1.2.1.nupkg
/packages/Thinktecture.IdentityServer3.MembershipReboot.1.0.0/Thinktecture.IdentityServer3.MembershipReboot.1.0.0.nupkg
/packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
/packages/WebGrease.1.5.2/tools/install.ps1
/packages/WebGrease.1.5.2/tools/uninstall.ps1
/packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.css
/packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.min.css
/packages/bootstrap.3.0.0/Content/Content/bootstrap.css
/packages/bootstrap.3.0.0/Content/Content/bootstrap.min.css
/packages/bootstrap.3.0.0/Content/Scripts/bootstrap.js
/packages/bootstrap.3.0.0/Content/Scripts/bootstrap.min.js
/packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.eot
/packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.svg
/packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.ttf
/packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.woff
/packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
/packages/jQuery.1.10.2/Tools/common.ps1
/packages/jQuery.1.10.2/Tools/install.ps1
/packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
/packages/jQuery.1.10.2/Tools/uninstall.ps1
/packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
/MRTutorial.Identity.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MRTutorial.Identity.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MRTutorial.Identity.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
